#s-7a22e178-1acb-49c5-b29b-f924a3262562 #s-Rectangle_11 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-7a22e178-1acb-49c5-b29b-f924a3262562 #s-Home_Indicator_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7a22e178-1acb-49c5-b29b-f924a3262562 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-7a22e178-1acb-49c5-b29b-f924a3262562 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-7a22e178-1acb-49c5-b29b-f924a3262562 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-7a22e178-1acb-49c5-b29b-f924a3262562 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7a22e178-1acb-49c5-b29b-f924a3262562 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7a22e178-1acb-49c5-b29b-f924a3262562 #s-Plus-item {
  -ms-transform: rotate(0.0deg);
}
#s-7a22e178-1acb-49c5-b29b-f924a3262562 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7a22e178-1acb-49c5-b29b-f924a3262562 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-7a22e178-1acb-49c5-b29b-f924a3262562 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-7a22e178-1acb-49c5-b29b-f924a3262562 #s-Plus-item_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7a22e178-1acb-49c5-b29b-f924a3262562 #s-Plus-item_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7a22e178-1acb-49c5-b29b-f924a3262562 #s-Plus-item_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7a22e178-1acb-49c5-b29b-f924a3262562 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7a22e178-1acb-49c5-b29b-f924a3262562 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7a22e178-1acb-49c5-b29b-f924a3262562 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7a22e178-1acb-49c5-b29b-f924a3262562 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7a22e178-1acb-49c5-b29b-f924a3262562 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7a22e178-1acb-49c5-b29b-f924a3262562 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7a22e178-1acb-49c5-b29b-f924a3262562 #s-Label_83 {
  -ms-transform: rotate(0.0deg);
}
#s-7a22e178-1acb-49c5-b29b-f924a3262562 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7a22e178-1acb-49c5-b29b-f924a3262562 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}