#s-7f2792be-d8dd-4732-80f8-0e29add7b31b #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7f2792be-d8dd-4732-80f8-0e29add7b31b #s-Rectangle_11 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-7f2792be-d8dd-4732-80f8-0e29add7b31b #s-Home_Indicator_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7f2792be-d8dd-4732-80f8-0e29add7b31b #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-7f2792be-d8dd-4732-80f8-0e29add7b31b #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-7f2792be-d8dd-4732-80f8-0e29add7b31b #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-7f2792be-d8dd-4732-80f8-0e29add7b31b #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7f2792be-d8dd-4732-80f8-0e29add7b31b #s-Button {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  height: 43px;
  width: 345px;
  -ms-transform: rotate(0.0deg);
}
#s-7f2792be-d8dd-4732-80f8-0e29add7b31b #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-7f2792be-d8dd-4732-80f8-0e29add7b31b #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7f2792be-d8dd-4732-80f8-0e29add7b31b #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7f2792be-d8dd-4732-80f8-0e29add7b31b #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-7f2792be-d8dd-4732-80f8-0e29add7b31b #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7f2792be-d8dd-4732-80f8-0e29add7b31b #s-Label_83 {
  -ms-transform: rotate(0.0deg);
}
#s-7f2792be-d8dd-4732-80f8-0e29add7b31b #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7f2792be-d8dd-4732-80f8-0e29add7b31b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}