#s-a4b71c07-c040-436d-b225-4a133ffa19d7 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4b71c07-c040-436d-b225-4a133ffa19d7 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4b71c07-c040-436d-b225-4a133ffa19d7 #s-Paragraph_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4b71c07-c040-436d-b225-4a133ffa19d7 #s-Rich_text_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4b71c07-c040-436d-b225-4a133ffa19d7 #s-Line_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4b71c07-c040-436d-b225-4a133ffa19d7 #s-Rich_text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4b71c07-c040-436d-b225-4a133ffa19d7 #s-Line_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4b71c07-c040-436d-b225-4a133ffa19d7 #s-Input_15 INPUT {
  font-family: Arial;
}
#s-a4b71c07-c040-436d-b225-4a133ffa19d7 #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4b71c07-c040-436d-b225-4a133ffa19d7 #s-Home_Indicator_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4b71c07-c040-436d-b225-4a133ffa19d7 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4b71c07-c040-436d-b225-4a133ffa19d7 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4b71c07-c040-436d-b225-4a133ffa19d7 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4b71c07-c040-436d-b225-4a133ffa19d7 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4b71c07-c040-436d-b225-4a133ffa19d7 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a4b71c07-c040-436d-b225-4a133ffa19d7 #s-Line_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a4b71c07-c040-436d-b225-4a133ffa19d7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}