#s-b7d8cb29-5c0c-4083-855d-01873b5aadeb #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7d8cb29-5c0c-4083-855d-01873b5aadeb #s-Input_15 INPUT {
  font-family: Arial;
}
#s-b7d8cb29-5c0c-4083-855d-01873b5aadeb #s-Home_Indicator_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7d8cb29-5c0c-4083-855d-01873b5aadeb #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7d8cb29-5c0c-4083-855d-01873b5aadeb #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7d8cb29-5c0c-4083-855d-01873b5aadeb #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7d8cb29-5c0c-4083-855d-01873b5aadeb #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7d8cb29-5c0c-4083-855d-01873b5aadeb #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7d8cb29-5c0c-4083-855d-01873b5aadeb #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7d8cb29-5c0c-4083-855d-01873b5aadeb #s-Label_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b7d8cb29-5c0c-4083-855d-01873b5aadeb #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b7d8cb29-5c0c-4083-855d-01873b5aadeb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}