#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Home_Indicator_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}