#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 > #alignmentBox {
  position: relative;
  max-width: 375px;
  max-height: 812px;
  width: 100%;
  height: 100%;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-signIn {
  position: absolute;
  width: 375px;
  height: 784px;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Rectangle_11 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #F6F7F8;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  box-shadow: none;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Rectangle_11 {
  position: absolute;
  width: 375px;
  height: 87px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Rectangle_11 > .clipping, #s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Rectangle_11 > .paddingLayer {
  height: 86px;
  width: 375px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Rectangle_11 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Home_Indicator_1 > svg {
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Home_Indicator_1 {
  position: absolute;
  width: 134px;
  height: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  z-index: 100;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Home_Indicator_1 > img, #s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Home_Indicator_1 > svg {
  height: 5px;
  width: 134px;
  box-shadow: none;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Image_6 > svg {
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Image_6 {
  position: absolute;
  width: 25px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Image_6 > img, #s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Image_6 > svg {
  height: 12px;
  width: 25px;
  box-shadow: none;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Image_17 > svg {
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Image_17 {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Image_17 > img, #s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Image_17 > svg {
  height: 18px;
  width: 18px;
  box-shadow: none;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Image_18 > svg {
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Image_18 {
  position: absolute;
  width: 17px;
  height: 12px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Image_18 > img, #s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Image_18 > svg {
  height: 12px;
  width: 17px;
  box-shadow: none;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Text_4 {
  position: absolute;
  width: 45px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Text_4 > .clipping, #s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Text_4 > .paddingLayer {
  height: 18px;
  width: 45px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Image_1 {
  position: absolute;
  width: 377px;
  height: 61px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Image_1 > img, #s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Image_1 > svg {
  height: 61px;
  width: 377px;
  box-shadow: none;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Image_2 {
  position: absolute;
  width: 256px;
  height: 225px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Image_2 > img, #s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Image_2 > svg {
  height: 225px;
  width: 256px;
  box-shadow: none;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Text_1 > .clipping, #s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Text_2 > .clipping, #s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Button > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #000000;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 11px 11px;
  box-shadow: none;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Button {
  position: absolute;
  width: 132px;
  height: 57px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Button > .clipping, #s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Button > .paddingLayer {
  height: 43px;
  width: 118px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Button .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Button span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Button span#rtr-s-Button_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}