#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Rectangle_11 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  -ms-transform: rotate(0.0deg);
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Home_Indicator_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 #s-Button {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 11px 11px 11px 11px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  height: 43px;
  width: 118px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e06dd781-fb2b-45a9-a3bd-5095c43bed69 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}